@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700|Raleway:400,700&display=swap');

body {
  background-color: #669999;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
